#server:
#  port: 8080
#
#spring:
#  application:
#    name: gateway
#  cloud:
#    gateway:
#      globalcors:
#        corsConfigurations:
#          '[/**]':
#            allowedOrigins:
#              - "http://localhost:5173"  # hoặc domain FE thật sự
#            allowedMethods:
#              - GET
#              - POST
#              - PUT
#              - DELETE
#              - OPTIONS
#            allowedHeaders: "*"
#            allowCredentials: true
#
#eureka:
#  client:
#    enabled: false


server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:gateway}
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "${CORS_ALLOWED_ORIGIN:http://localhost:3000}"  # Bạn có thể ghi đè bằng domain FE thực sự
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    enabled: ${EUREKA_CLIENT_ENABLED:false}
