server:
  port: 8080

spring:
  application:
    name: ec-gateway-srv
  data:
    redis:
      host: localhost
      port: 6379
      password:
      timeout: 60000
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

    httpclient:
      max-initial-line-length: 8192
      max-header-size: 16384

    httpserver:
      max-request-size: 50MB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: localhost

application:
  security:
    jwt:
      secret-key: 8e29c681e354368d6ec0358461b9897180c6b9c9e77754cad6cd1c042e306b028e9e214b41e4632576f2e6f0899d4b165f5bb193199702f9c336cfffb0db5d19
      expiration: 86400000
      refresh-token:
        expiration: 604800000


